.jobList {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 1px 0 gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
}

.caret {
  margin-right: 20px;
  margin-top: 22px;
  font-size: 20px;
}

.jobListItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* making all things in this div be on one line */
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form select,
form textarea,
form button {
  max-width: 500px;
  margin: 0 auto;
}

form textarea {
  resize: vertical;
}

form button {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.message.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.helper-text {
  margin-top: 20px;
  text-align: center;
}

.helper-text a {
  color: #007bff;
  text-decoration: none;
}

.helper-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form-box {
    width: 100%;
    padding: 5px;
  }

  form {
    padding: 10px;
  }

  form input[type="text"],
  form select,
  form textarea,
  form button {
    max-width: 100%;
  }
}
.back-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 50%;
}
