.navbar {
  background-color: #fafbfc; /* Light gray background */
  border-bottom: 1px solid #e1e4e8; /* Light border at the bottom */
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex; /* Align items in a row */
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #24292e; /* Dark text for contrast */
  text-decoration: none;
  font-size: 14px;
  font-weight: 600; /* Slightly bolder font */
}

.nav-links a:hover {
  color: #0366d6; /* GitHub uses blue for hover states */
  text-decoration: underline;
}

/* Additional styling for other elements */
.form-box, .homepage {
  background: #fff;
  padding: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(225,228,232,0.5);
  margin: 20px;
  width: auto;
}

/* Additional CSS for Navbar Component */
.navbar .logout-button {
  background-color: #2ea44f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: auto; 
  box-shadow: none;
  display: inline-block; /* Adjusted for inline display */
  margin-right: 16px; /* Optional: for spacing */
}

.navbar .logout-button:hover {
  background-color: #22863a;
}

.not-authorized-container {
  text-align: center;
  margin-top: 50px;
}

.not-authorized-container h1 {
  color: red;
  margin-bottom: 20px;
}

.not-authorized-container p {
  margin-bottom: 20px;
}
